DATABASE_URL=

MAIL_USERNAME="[ALAMAT_EMAIL_]"
MAIL_PASSWORD="[16_KARAKTER_APP_PASSWORD_DARI_GOOGLE]"
MAIL_FROM="[ALAMAT_EMAIL]"
MAIL_PORT=587
MAIL_SERVER="smtp.gmail.com"
MAIL_STARTTLS=True
MAIL_SSL_TLS=False