# File environment - JANGAN PERNAH commit file ini!
.env

# Folder virtual environment
venv/
.venv/
env/
.env/

# Folder cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File-file IDE (contoh untuk VS Code dan PyCharm)
.vscode/
.idea/

# File database lokal (jika pakai SQLite untuk testing)
*.sqlite3

# Folder storage lokal
storage/
.storage/

chatbot/

# Logs
*.log
gunicorn.log

# Vim swap files
*.swp
*.swo

# Temporary files
next
my-app@0.1.0

# Alembic cache
alembic/versions/__pycache__/
