# --- Core Framework ---
fastapi
uvicorn[standard]

# --- Database ---
SQLAlchemy
alembic
PyMySQL
mysql-connector-python

# --- Security ---
passlib[argon2,bcrypt]
python-jose[cryptography]
argon2-cffi

# --- Configuration & Utilities ---
python-dotenv
pydantic
fastapi-mail 
pytz
fastapi-apscheduler