# --- Core Framework ---
fastapi
uvicorn[standard]

# --- Database ---
SQLAlchemy
alembic
PyMySQL

# --- Security ---
passlib[argon2,bcrypt]

# --- Configuration & Utilities ---
python-dotenv
pydantic
fastapi-mail 
pytz
fastapi-apscheduler